a{
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

body{
	/* #69A2A0 */
	/* #BD9C9C; */
	background: #E9F2F2;
	margin: 0 15% 0 15%;
	font-family: 'Nova';
}

button{
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	font-size: 16px;
	font-family: 'Nova';
	font-weight: normal;
	border: none;
	background: black;
	color:white;
	margin-top: 1em;
	margin-bottom: 1em;
	outline:none;
}

figure{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

footer{
	background-color: #ABD8D2;
	padding: 1em;
}

form{
	background-color: rgba(105,160,162,0.6);
	display: inline-block;
	padding: 1em;
}

h1{
	font-family: 'Nova-black';
	font-weight:normal;
	color: black;
	font-size: 39px;
}

h2{
	font-family: 'Nova';
	font-weight: bold;
	color: black;
	/* background-color: rgb(0,0,0); */
	display: inline;
	font-size: 26px;
}

h3{
	font-family: 'Nova';
	font-weight: bold;
	color: rgb(0,0,0);
	font-size: 20px;
	/* text-shadow: 1px 0px #69A2A0; */
}

img{
	max-width: 100%;
}

input{
	margin-top: 1em;
	border-bottom: 1px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
}

input:focus{
	outline: none;
}

label{
	font-size: 1.2em;
	font-weight: bold;
}

li{
	margin: 0.5em 0 0.5em 0;
}

nav{
	margin-top: 1em;
	margin-bottom: 1em;
}

nav a, #top a{
	font-family: 'Nova';
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding-left: 1em;
	font-size: 18px;
}

nav a:hover, #top a:hover{
	text-decoration: underline;
	/* color: #69A2A0; */
	transition: 0.5s;
}

nav a:focus, #top a:focus{
	text-decoration: underline;
	/* color: #69A2A0; */
}

ol{
	font-family: 'Din';
	font-weight: normal;
	font-size: 14px;
	color: black;
}

p{
	font-family: 'Din';
	font-weight: normal;
	color: black;
	font-size: 14px;
	-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

section{
	padding-bottom: 1em;
}

textarea{
	margin-top: 2em;
	border:none;
}

textarea:focus{
	outline: none;
}

ul{
	font-family: 'Din';
	font-weight: normal;
	font-size: 14px;
	color: black;
}


#top h1{
	display: inline;
	margin-right: 2em;
}

#works{
	margin-top:15%;
	margin-bottom: 20%;
}

.contact-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width: 50%;
}

.heading-container h2{
  font-family: 'Nova-black';
  margin: 1em 0 0 0;
  font-size:2em;
  color: #69A2A0;
}

.lupii-para h2{
	font-size:1.5em;
	border-top: 5px solid #69A2A0;
}

.lupii-para p{
	padding-top: 1em;
}

.lupii-para img{
	padding-top: 1em;
}

.lupii-img img{
	max-width: 100%;

}
.lupii-items h2{

	font-size:1.5em;
	border-top: 5px solid #69A2A0;
}

.lupii-items p{
	padding-top: 1em;
}

.title a{
	padding: 0;
	font-family: 'Nova-black';
	font-weight: normal;
	color: black;
	font-size: 39px;
}

.title a:hover{
	text-decoration: none;
	color: black;
}

.title a:focus{
	text-decoration: none;
	color: black;
}

.work-item img{
	max-width: 100%;
  max-height: 100%;
}

.work-item img:hover{
	box-shadow: 2px 2px 5px white;
  transition: 0.5s;
}
.works-title{
		margin-bottom:2em;
}
.works-title h2{
	font-size:2em;
	line-height: 18px;
	border-top: 5px solid #69A2A0;

}

.container {
  position: relative;
  width: inherit;
	padding: 0;
}

.overlay {
	padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.container:hover .overlay {
  opacity: 0.7;
}

.text{
  color: black;
	font-weight: bold;
  font-size: 30px;
	opacity: 1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*
.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.work-item img:hover .img_description {
  visibility: visible;
  opacity: 1;
} */
